.beneficios h2{
    text-align: center;
}

.bandeiras {
    display: flex;
    justify-content: center;
    margin: auto;
}

.bandeira__icone {
    width: 15vw;
    height: 5vh;
    margin: 2px;
}

.beneficios__titulo {
    font-size: 24px;
    font-family: var(--montserrat);
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.beneficios__lista {
    margin-bottom: 2rem;
}

.beneficio__card {
    padding: 10px;
    margin-bottom: 1rem;
}

.card__texto {
    font-size: 14px;
    font-family: var(--sourcecode);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card__beneficios {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card__imagem {
    width: 50vw;
    border-radius: 24px;
}

@media screen and (min-width: 820px) {
    body {
        font-size: 1.5rem;
    }

    .card__imagem {
        max-width: 60vw;
    }

    .bandeiras {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 3rem;
    }

    .card__imagem {
        max-width: 20vw;
        max-height: 10vw;
    }

    .card__texto{
        font-size: 1.3rem;
    }

    
}