.diferenciais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.diferenciais__card {
    text-align: center;
    margin: 0.5rem;
}

.diferenciais__texto {
    font-weight: 700;
}
.diferenciais__card-imagem {
    width: 100px;
    height: 100px;  
}

@media screen and (min-width: 1024px) {
    .diferenciais__card{
        margin-left: 30px;
        border: 1px solid #000000;
        border-radius: 10px;
    }
}