.cabecalho {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgb(16, 41, 70), #2652b1); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 100px;
    height: 50px;
    margin-bottom: 1rem;
}

.cabecalho__titulo{
    color: var(--branco-geral);
    font-family: var(--montserrat);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.cabecalho__lista {
    padding: 0.5rem;
    text-align: center;
}

.item__lista {
    color: var(--branco-geral);
    font-size: 1.2rem;  
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 2em 2em;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        }
}