@import url("css/header.css");
@import url("css/beneficios.css");
@import url("css/conteudo.css");
@import url("css/diferenciais.css");

:root {
    --branco-geral: #FFFFFF;
    --azul-cabecalho: #1b1552;
    --cor-bg: #d8cececc;

    --montserrat: 'Montserrat', sans-serif;
    --sourcecode: 'Source Code Pro', sans-serif;
}

body {
	font-family: var(--montserrat), sans-serif;
    background-color: var(--branco-geral);
}

.clique_whatsapp{
    display: none;
}

.whats {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.imagem_whatsapp {
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

.container {
	padding-right: 6%;
	padding-left: 6%;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    body {
        font-size: 2rem;
    }

    .clique_whatsapp{
        display: flex;
        font-size: 12px;
        color: var(--branco-geral);
    }    
    .cabecalho {
        background-image: url("img/bg-desktop.jpg");
        background-size: cover;
    }

    .cabecalho__titulo {
        font-size: 30px;
    }

    
}


