@import url("css/header.css");
@import url("css/beneficios.css");
@import url("css/conteudo.css");
@import url("css/diferenciais.css");

:root {
    --branco-geral: #FFFFFF;
    --azul-cabecalho: #1b1552;
    --cor-bg: #d8cececc;

    --montserrat: 'Montserrat', sans-serif;
    --sourcecode: 'Source Code Pro', sans-serif;
}

body {
	font-family: var(--montserrat), sans-serif;
    background-color: var(--branco-geral);
}

.whastsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20px;
    background-color: #25d366;
    opacity: 0.7;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 2px #888888;
}

.fa-whatsapp {
    margin-top: 16px;
}

.container {
	padding-right: 6%;
	padding-left: 6%;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    body {
        font-size: 2rem;
    }

    .cabecalho {
        background-image: url("img/bg-desktop.jpg");
        background-size: cover;
    }

    .cabecalho__titulo {
        font-size: 30px;
    }
}


